<%- include("partials/header.ejs") %>
    <h1 class="display-3">Edit Post</h1>
    <form action="/blogs/<%= blog._id %>/edit?_method=PUT" method="post">
        <label for="name">Title</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="description">Post Content</label>
        <textarea name="description" id="description" cols="100" rows="10">
            <%= blog.description%>
        </textarea>
        <br>
        <button>Update Post</button>
    </form>
<%- include("partials/footer.ejs") %>