<%- include("partials/header.ejs")%>
<h1>New Post</h1>
<form action="/blogs" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="time" placeholder="time">
    <input type="text" name="description" placeholder="description">
    <button>Create Post</button>
</form>
<%- include("partials/footer.ejs")%>