<%- include("partials/header.ejs") %>
<div class="row d-flex justify-content-center mt-5 p-5">
    <div class="col-6">
        <div class="container img-thumbnail">
            <h1 class="display-6">New Post</h1>
            <form action="/blogs" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="name"></div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="image" placeholder="image url"></div>
                <div class="mb-3">
                    <textarea name="description" id="description" placeholder="write your content here.." cols="100" rows="8" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-dark">Create Post</button>
                </div>

            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>